@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

div.split-container>div>div:nth-child(2) {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
  background-color: var(--page-background);
  background-repeat: no-repeat;
  background-position: 8px 50%;
  min-width: 25px;
  opacity: 1;

}

div.split-container>div>div:nth-child(2):hover {
  cursor: col-resize;
  opacity: 1;
}

div.split-container>div>div:nth-child(4) {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
  background-color: var(--page-background);
  background-repeat: no-repeat;
  background-position: 50%;
  min-width: 20px;
  opacity: 1;
}

@media (max-width: 1024px) {

  /*disable gutters on small devices*/
  div.split-container>div>div:nth-child(4) {
    margin-top: 0px;
    height: 0px !important;
  }

  #gutter-1 {
    height: 0px !important;
  }
}

/*Border Radius for Map*/
#map>div>div.ol-unselectable.ol-layers>div>canvas {
  border-radius: 20px;
  z-index: 40;
  /* Fixes border-radius in Safari. */
  background-color: none !important;
}


:root {
  --page-background: rgb(60, 60, 60);
  --page-background-accent: rgb(48, 48, 48);
  --footer-background: #232323;
  --header-background: #d7d7d7;
  --header-text: black;
  --title-text: #7D7D7D;
  --about-title-text: #7D7D7D;
  --button-background: #5b5b5b;
  --button-background-accent: #4588ca;
  --button-hover-light: #c3c3c3;
  --button-hover: #707070;
  --button-hover-accent: #497db1;
  --page-text: white;
  --button-text: white;
  --highlighted-text: #72b2f3;
  --popup-background: #1f1f1f;
  --popup-text: white;
  --map-markers: #F0C02E;
  --image-hover-background: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.8) 100%);
  --image-hover-text: white;
  --metadata-text: white;
  --notice-text: #c8e1fa;
  --emphasised-text: #384047;
  --about-emphasised-text: white;
  --placeholder-text: #ffffffc5;
  --input-background: #1d192c;
    --input-wrapper-background: rgb(48, 48, 48);
  --main-input-wrapper-background: linear-gradient(to bottom, rgba(35, 35, 35, 1.0) 0%, rgba(50, 50, 50, 1.0) 100%);
  --input-border: var(--input-wrapper-background);
  --input-hover: #1a094c;
  --logo-background: linear-gradient(to bottom, rgba(40, 40, 40, 1) 0%, rgba(40, 40, 40, .8) 100%);
  --gu-logo-en: url("../src/assets/gu_logo.png");
  --gu-logo-sv: url("../src/assets/gu_logo_sv.png");
  --shfa-logo: url("../src/assets/shfa_logo_downscale_light.png");
  --shfa-logo-main: url("../src/assets/shfa_logo_downscale.png");
  --guide-page-background: #1b1b1b;
  --gallery-nav-text: #c8e1fa;
  --gallery-nav-background: #1b1b1b99;
  --link-color: #8ba9c7;
  --base: black !important;
  --shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  --shadow-map: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    --shadow-suggestion: 0 10px 10px 0px rgba(0, 0, 0, 0.3);
  --menu-background: rgba(220, 220, 220, 0.9);
  --menu-text: black;
  --menu-shadow: inset 0rem 2rem 2rem rgba(0, 0, 0, 0.30) !important;
  --split-shadow: inset 1rem 0rem 1.5rem rgba(0, 0, 0, 0.20) !important;
  --overlay: rgba(0, 0, 0, 0.7);
  --ui-hover: #c8e1fa;
  --font: "Barlow Semi Condensed", sans-serif;
  --top-button-border: white;
  --viewer-button-background: #121212;
  --viewer-button-hover: #374f66cc;
  --viewer-button-text: white;
  --viewer-button-border: black;
  --popup-link-button: url(/interface/linkbuttonboldwhite.png);
  --link-button: url(/interface/linkbuttonbold.png);
  --info-button: url(/interface/infobuttonbold.png);
  --menu-button: url(/interface/menu.png);
  --close-button: url(/interface/input-cancel-x.svg);
  --fullscreen-button: url(@/assets/openseadragon/expand.svg);
  --zoom-in-button: url(@/assets/openseadragon/plus.svg);
  --zoom-out-button: url(@/assets/openseadragon/minus.svg);
  --previous-button: url(@/assets/openseadragon/prev.png);
  --next-button: url(@/assets/openseadragon/next.png);
  --download-button: url(/interface/downloadwhite.png);
  --search-button: url(/interface/searchbuttonwhite.png);
  --search-button-light-bkgrnd: url(/interface/searchbutton.png);
  --search-button-dark-bkgrnd: url(/interface/searchbuttonwhite.png);
  --selected-option: #5c5c5c;
  --autocomplete-background: var(--input-wrapper-background);
  --disclaimer-text: #c8e1fa;
  --default-gradient: none;
  --total-results: #c8e1fa;
  --clickable-metadata: #c8e1fa;
  --divider: #777;
  --info-label: #c8e1fa;
  --threed-icon: #4588ca;
  --fb-logo-background: url("../src/assets/Facebook_Logo_Secondary.png");
  --instagram-logo-background: url("../src/assets/Instagram_Glyph_White.png");
  --settings-text: rgba(255, 255, 255, 1);
  --map-layers-icon: url("https://data.dh.gu.se/ui-icons/layer_white.svg");
  --close-layers-icon: url("https://data.dh.gu.se/ui-icons/close_white.svg");
  --expand-layers-icon: url("https://data.dh.gu.se/ui-icons/arrow_collapsed_menu_white.svg");
  --collapse-layers-icon: url("https://data.dh.gu.se/ui-icons/arrow_expanded_menu_white.svg");
}

html[style-theme='dark'] {
  --page-background: rgb(60, 60, 60);
   --page-background-accent: rgb(48, 48, 48);
  --footer-background: #232323;
  --header-background: #d7d7d7;
  --header-text: black;
  --title-text: #7D7D7D;
  --about-title-text: #7D7D7D;
  --button-background: #5b5b5b;
  --button-background-accent: #4588ca;
  --button-hover-light: #c3c3c3;
  --button-hover: #707070;
  --button-hover-accent: #497db1;
  --page-text: white;
  --button-text: white;
  --highlighted-text: #72b2f3;
  --popup-background: #1f1f1f;
  --popup-text: white;
  --map-markers: #F0C02E;
  --image-hover-background: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.8) 100%);
  --image-hover-text: white;
  --metadata-text: white;
  --notice-text: #c8e1fa;
  --emphasised-text: #384047;
  --about-emphasised-text: white;
  --placeholder-text: #ffffffc5;
  --input-background: #1d192c;
  --input-wrapper-background: rgb(48, 48, 48);
  --main-input-wrapper-background: linear-gradient(to bottom, rgba(35, 35, 35, 1.0) 0%, rgba(50, 50, 50, 1.0) 100%);
  --input-border: var(--input-wrapper-background);
  --input-hover: #1a094c;
  --logo-background: linear-gradient(to bottom, rgba(40, 40, 40, 1) 0%, rgba(40, 40, 40, .8) 100%);
  --gu-logo-en: url("../src/assets/gu_logo.png");
  --gu-logo-sv: url("../src/assets/gu_logo_sv.png");
  --shfa-logo: url("../src/assets/shfa_logo_downscale_light.png");
  --shfa-logo-main: url("../src/assets/shfa_logo_downscale.png");
  --guide-page-background: #1b1b1b;
  --gallery-nav-text: #c8e1fa;
  --gallery-nav-background: #1b1b1b99;
  --link-color: #8ba9c7;
  --base: black !important;
  --shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  --shadow-map: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    --shadow-suggestion: 0 10px 10px 0px rgba(0, 0, 0, 0.3);
  --menu-background: rgba(220, 220, 220, 0.9);
  --menu-text: black;
  --menu-shadow: inset 0rem 2rem 2rem rgba(0, 0, 0, 0.30) !important;
  --split-shadow: inset 1rem 0rem 1.5rem rgba(0, 0, 0, 0.20) !important;
  --overlay: rgba(0, 0, 0, 0.7);
  --ui-hover: #c8e1fa;
  --font: "Barlow Semi Condensed", sans-serif;
  --top-button-border: white;
  --viewer-button-background: #121212;
  --viewer-button-hover: #374f66cc;
  --viewer-button-text: white;
  --viewer-button-border: black;
  --popup-link-button: url(/interface/linkbuttonboldwhite.png);
  --link-button: url(/interface/linkbuttonbold.png);
  --info-button: url(/interface/infobuttonbold.png);
  --menu-button: url(/interface/menu.png);
  --close-button: url(/interface/input-cancel-x.svg);
  --fullscreen-button: url(@/assets/openseadragon/expand.svg);
  --zoom-in-button: url(@/assets/openseadragon/plus.svg);
  --zoom-out-button: url(@/assets/openseadragon/minus.svg);
  --previous-button: url(@/assets/openseadragon/prev.png);
  --next-button: url(@/assets/openseadragon/next.png);
  --download-button: url(/interface/downloadwhite.png);
  --search-button: url(/interface/searchbuttonwhite.png);
  --search-button-light-bkgrnd: url(/interface/searchbutton.png);
  --search-button-dark-bkgrnd: url(/interface/searchbuttonwhite.png);
  --selected-option: #5c5c5c;
  --autocomplete-background: var(--input-wrapper-background);
  --disclaimer-text: #c8e1fa;
  --default-gradient: none;
  --total-results: #c8e1fa;
  --clickable-metadata: #c8e1fa;
  --divider: #777;
  --info-label: #c8e1fa;
  --threed-icon: #4588ca;
  --fb-logo-background: url("../src/assets/Facebook_Logo_Secondary.png");
  --instagram-logo-background: url("../src/assets/Instagram_Glyph_White.png");
  --settings-text: rgba(255, 255, 255, 1);
  --map-layers-icon: url("https://data.dh.gu.se/ui-icons/layer_white.svg");
  --close-layers-icon: url("https://data.dh.gu.se/ui-icons/close_white.svg");
  --expand-layers-icon: url("https://data.dh.gu.se/ui-icons/arrow_collapsed_menu_white.svg");
  --collapse-layers-icon: url("https://data.dh.gu.se/ui-icons/arrow_expanded_menu_white.svg");
}

html[style-theme='light'] {
  --page-background: rgb(250, 250, 250);
  --page-background-accent: rgb(230, 230, 230);
  --footer-background: #dadada;
  --header-background: #d7d7d7;
  --header-text: black;
  --title-text: #7D7D7D;
  --button-background: #1e1e1e;
  --button-background-accent: #448faa;
  --button-hover: #6e6e6e;
  --button-hover-accent: #38768d;
  --button-hover-light: #c3c3c3;
  --page-text: black;
  --button-text: white;
  --highlighted-text: #2bc0f6;
  --popup-background: #1f1f1f;
  --popup-text: white;
  --map-markers: #0c5270eb;
  --image-hover-background: linear-gradient(rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.8) 100%);
  --image-hover-text: black;
  --metadata-text: black;
  --notice-text: #82cae9;
  --emphasised-text: #244e60;
  --about-emphasised-text: black;
  --placeholder-text: #000000d5;
  --input-background: #1d192c;
  --input-wrapper-background: rgb(225, 225, 225);
  --main-input-wrapper-background: linear-gradient(to bottom, rgba(200, 200, 200, 1.0) 0%, rgba(230, 230, 230, 1.0) 100%);
  --input-border: #000;
  --input-hover: #1a094c;
  --logo-background: #1e1e1e;
  --gu-logo-en: url("../src/assets/gu_logo.png");
  --gu-logo-sv: url("../src/assets/gu_logo_sv.png");
  --shfa-logo: url("../src/assets/shfa_logo_downscale.png");
  --guide-page-background: #ffffff;
  --gallery-nav-text: #5dadc8;
  --gallery-nav-background: #1b1b1b99;
  --link-color: #50169b;
  --base: black !important;
  --shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  --shadow-map: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  --shadow-suggestion: 0 10px 10px 0px rgba(0, 0, 0, 0.3);
  --menu-background: rgba(220, 220, 220, 0.9);
  --menu-text: black;
  --menu-shadow: inset 0rem 2rem 2rem rgba(0, 0, 0, 0.20) !important;
  --split-shadow: inset 1rem 0rem 1.5rem rgba(0, 0, 0, 0.20) !important;
  --overlay: rgba(0, 0, 0, 0.7);
  --ui-hover: #2089af;
  --font: "Barlow Semi Condensed", sans-serif;
  --top-button-border: white;
  --viewer-button-background: #121212;
  --viewer-button-hover: #16739bcc;
  --viewer-button-text: white;
  --viewer-button-border: black;
  --popup-link-button: url(/interface/linkbuttonwhite.png);
  --link-button: url(/interface/linkbuttonbold.png);
  --info-button: url(/interface/infobuttonbold.png);
  --menu-button: url(/interface/menu.png);
  --close-button: url(/interface/input-cancel-x.svg);
  --fullscreen-button: url(@/assets/openseadragon/expand.svg);
  --zoom-in-button: url(@/assets/openseadragon/plus.svg);
  --zoom-out-button: url(@/assets/openseadragon/minus.svg);
  --previous-button: url(@/assets/openseadragon/prev.png);
  --next-button: url(@/assets/openseadragon/next.png);
  --download-button: url(/interface/downloadwhite.png);
  --search-button: url(/interface/searchbuttonwhite.png);
  --search-button-light-bkgrnd: url(/interface/searchbutton.png);
  --search-button-dark-bkgrnd: url(/interface/searchbuttonwhite.png);
  --selected-option: #16739bcc;
  --autocomplete-background: var(--input-wrapper-background);
  --disclaimer-text: #243f4a;
  --default-gradient: none;
  --results-text: white;
  --total-results: #82cae9;
  --clickable-metadata: #1e333c;
  --overlaid-button-background: #1b1b1b;
  --underlay: white;
  --info-label: #243f4a;
  --threed-icon: #4588ca;
  --fb-logo-background: url("../src/assets/Facebook_Logo_Primary.png");
  --instagram-logo-background: url("../src/assets/Instagram_Glyph_Black.png");
  --settings-text: rgba(0, 0, 0, 1);
  --map-layers-icon: url("https://data.dh.gu.se/ui-icons/layer_white.svg");
  --close-layers-icon: url("https://data.dh.gu.se/ui-icons/close_white.svg");
  --expand-layers-icon: url("https://data.dh.gu.se/ui-icons/arrow_collapsed_menu_white.svg");
  --collapse-layers-icon: url("https://data.dh.gu.se/ui-icons/arrow_expanded_menu_white.svg");
}

@media (prefers-contrast:more) or (prefers-reduced-transparency) {
  :root {
    --page-background: rgb(250, 250, 250);
    --page-background-accent: rgb(245, 245, 245);
    --footer-background: #dadada;
    --header-background: #ffffff;
    --header-text: black;
    --title-text: #282828;
    --button-background: #1c1c1c;
    --button-background-accent: #3E79B4;
    --button-hover: #313131;
    --button-hover-accent: #313131;
    --button-hover-light: #a8bed3;
    --page-text: black;
    --button-text: white;
    --highlighted-text: #2a527a;
    --popup-background: #1f1f1f;
    --popup-text: white;
    --map-markers: #192f46;
    --image-hover-background: linear-gradient(rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 100%);
    --image-hover-text: black;
    --metadata-text: black;
    --notice-text: #82cae9;
    --emphasised-text: #2a527a;
    --about-emphasised-text: black;
    --placeholder-text: #000000;
    --input-background: #1d192c;
    --input-wrapper-background: var(--page-background);
    --main-input-wrapper-background: white;
    --input-border: #000;
    --input-hover: #1a094c;
    --logo-background: #1e1e1e;
    --gu-logo-en: url("../src/assets/gu_logo.png");
    --gu-logo-sv: url("../src/assets/gu_logo_sv.png");
    --shfa-logo: url("../src/assets/shfa_logo_downscale.png");
    --guide-page-background: #ffffff;
    --gallery-nav-text: #5dadc8;
    --gallery-nav-background: #1b1b1b99;
    --base: black !important;
    --shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    --shadow-map: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    --menu-background: rgba(220, 220, 220, 1);
    --menu-text: black;
    --menu-shadow: inset 0rem 2rem 2rem rgba(0, 0, 0, 0.0) !important;
    --split-shadow: inset 1rem 0rem 1.5rem rgba(0, 0, 0, 0.0) !important;
    --overlay: rgba(0, 0, 0, 0.7);
    --ui-hover: #27232b;
    --font: "Barlow Semi Condensed", sans-serif;
    --top-button-border: white;
    --viewer-button-background: #121212;
    --viewer-button-hover: #3E79B4cc;
    --viewer-button-text: white;
    --viewer-button-border: black;
    --popup-link-button: url(/interface/linkbuttonwhite.png);
    --link-button: url(/interface/linkbuttonbold.png);
    --info-button: url(/interface/infobuttonbold.png);
    --menu-button: url(/interface/menu.png);
    --close-button: url(/interface/input-cancel-x.svg);
    --fullscreen-button: url(@/assets/openseadragon/expand.svg);
    --zoom-in-button: url(@/assets/openseadragon/plus.svg);
    --zoom-out-button: url(@/assets/openseadragon/minus.svg);
    --previous-button: url(@/assets/openseadragon/prev.png);
    --next-button: url(@/assets/openseadragon/next.png);
    --download-button: url(/interface/downloadwhite.png);
    --search-button: url(/interface/searchbuttonwhite.png);
    --search-button-light-bkgrnd: url(/interface/searchbutton.png);
    --search-button-dark-bkgrnd: url(/interface/searchbuttonwhite.png);
    --selected-option: #2d5782;
    --autocomplete-background: var(--input-wrapper-background);
    --disclaimer-text: #1a334c;
    --default-gradient: linear-gradient(to right, #03a3e2, #7344e1);
    --results-text: white;
    --total-results: #88cfee;
    --clickable-metadata: #1e333c;
    --overlaid-button-background: #1b1b1b;
    --underlay: white;
    --info-label: #000000;
    --threed-icon: #3e79b4;
    --fb-logo-background: url("../src/assets/Facebook_Logo_Primary.png");
    --instagram-logo-background: url("../src/assets/Instagram_Glyph_Black.png");
    --settings-text: rgba(0, 0, 0, 1);
  --map-layers-icon: url("https://data.dh.gu.se/ui-icons/layer_white.svg");
  --close-layers-icon: url("https://data.dh.gu.se/ui-icons/close_white.svg");
  --expand-layers-icon: url("https://data.dh.gu.se/ui-icons/arrow_collapsed_menu_white.svg");
  --collapse-layers-icon: url("https://data.dh.gu.se/ui-icons/arrow_expanded_menu_white.svg");
  }
}