@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

div.split-container>div>div:nth-child(2) {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
  background-color: rgba(165, 165, 165, 0);
  background-repeat: no-repeat;
  background-position: 50%;
  min-width: 20px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

div.split-container>div>div:nth-child(2):hover {
  cursor: col-resize;
  opacity: 1;
}

div.split-container>div>div:nth-child(4) {
  background-image: url("assets/horizontalblack.png");
  cursor: col-resize;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-color: rgb(200, 200, 200);
  height: 25px;
  min-width: 25px;
  margin-top: calc(50vh - 90px);
  transform: translateX(12.5px);
  z-index: 1000;
}

@media (max-width: 1024px) {

  /*disable gutters on small devices*/
  div.split-container>div>div:nth-child(4) {
    margin-top: 0px;
    height: 0px !important;
  }

  #gutter-1 {
    height: 0px !important;
  }
}

/*Border Radius for Map*/
#map>div>div.ol-unselectable.ol-layers>div>canvas {
  border-radius: 20px;
  z-index: 40;
  /* Fixes border-radius in Safari. */
  background-color: none !important;
}


:root {
  --page-background: rgb(65,65,65);
  --page-background-accent: rgb(55,55,55);
  --footer-background: #232323;
  --header-background: #d7d7d7;
  --header-text: black;
  --title-text: #7D7D7D;
  --about-title-text: #7D7D7D;
  --button-background: #5b5b5b;
  --button-hover-light: #c3c3c3;
  --button-hover: #707070;
  --page-text: white;
  --button-text: white;
  --highlighted-text: #89dbf9;
  --popup-background: #1f1f1f;
  --popup-text: white;
  --map-markers: #F0C02E;
  --image-hover-background: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.8) 100%);
  --image-hover-text: white;
  --metadata-text: white;
  --notice-text: #C6DFF8;
  --emphasised-text: #384047;
  --about-emphasised-text: white;
  --placeholder-text: #ffffffc5;
  --input-background: #1d192c;
  --input-wrapper-background: #2D2D2D;
  --main-input-wrapper-background: linear-gradient(to bottom, rgba(35, 35, 35, 1.0) 0%, rgba(50, 50, 50, 1.0) 100%);
  --input-border: var(--input-wrapper-background);
  --input-hover: #1a094c;
  --logo-background: linear-gradient(to bottom, rgba(40, 40, 40, 1) 0%, rgba(40, 40, 40, .8) 100%);
  --gu-logo-en: url("../src/assets/gu_logo.png");
  --gu-logo-sv: url("../src/assets/gu_logo_sv.png");
  --shfa-logo: url("../src/assets/shfa_logo_downscale_light.png");
  --guide-page-background: #1b1b1b;
  --gallery-nav-text: #C6DFF8;
  --gallery-nav-background: #1b1b1b99;
  --link-color: #8ba9c7;
  --base: black !important;
  --shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  --shadow-map: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  --menu-background: rgba(209, 209, 209, 0.9);
  --menu-shadow: inset 0rem 2rem 2rem rgba(0, 0, 0, 0.25) !important;
  --split-shadow: inset 1rem 0rem 1.5rem rgba(0, 0, 0, 0.20) !important;
  --overlay: rgba(0, 0, 0, 0.7);
  --ui-hover: #C6DFF8;
  --font: "Barlow Semi Condensed", sans-serif;
  --top-button-border: white;
  --viewer-button-background: #121212;
  --viewer-button-hover: #374f66cc;
  --viewer-button-text: white;
  --viewer-button-border: black;
  --popup-link-button: url(../../interface/linkbuttonboldwhite.png);
  --link-button: url(../../interface/linkbuttonbold.png);
  --info-button: url(../../interface/infobuttonbold.png);
  --menu-button: url(../../interface/menu.png);
  --close-button: url(../../interface/input-cancel-x.svg);
  --fullscreen-button: url(../assets/openseadragon/expand.svg);
  --zoom-in-button: url(../assets/openseadragon/plus.svg);
  --zoom-out-button: url(../assets/openseadragon/minus.svg);
  --previous-button: url(../assets/openseadragon/prev.png);
  --next-button: url(../assets/openseadragon/next.png);
  --download-button: url(public/interface/downloadwhite.png);
  --search-button: url(../../interface/searchbuttonwhite.png);
  --search-button-light-bkgrnd: url(../../interface/searchbutton.png);
  --search-button-dark-bkgrnd: url(../../interface/searchbuttonwhite.png);
  --selected-option: #5c5c5c;
  --autocomplete-background: var(--input-wrapper-background);
  --disclaimer-text: #C6DFF8;
  --default-gradient: linear-gradient(to right, var(--highlighted-text), var(--map-markers));
  --total-results: #C6DFF8;
  --clickable-metadata: #C6DFF8;
}

html[style-theme='dark'] {
  --page-background: rgb(65,65,65);
  --page-background-accent: rgb(55,55,55);
  --footer-background: #232323;
  --header-background: #d7d7d7;
  --header-text: black;
  --title-text: #7D7D7D;
  --button-background: #5b5b5b;
  --button-hover-light: #c3c3c3;
  --button-hover: #707070;
  --page-text: white;
  --button-text: white;
  --highlighted-text: #89dbf9;
  --popup-background: #1f1f1f;
  --popup-text: white;
  --map-markers: #F0C02E;
  --image-hover-background: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.8) 100%);
  --image-hover-text: white;
  --metadata-text: white;
  --notice-text: #C6DFF8;
  --emphasised-text: #384047;
  --about-emphasised-text: white;
  --placeholder-text: #ffffffc5;
  --input-background: #1d192c;
  --input-wrapper-background: #2D2D2D;
  --input-border: var(--input-wrapper-background);
  --input-hover: #1a094c;
  --logo-background: linear-gradient(to bottom, rgba(40, 40, 40, 1) 0%, rgba(40, 40, 40, .8) 100%);
  --gu-logo-en: url("../src/assets/gu_logo.png");
  --gu-logo-sv: url("../src/assets/gu_logo_sv.png");
  --shfa-logo: url("../src/assets/shfa_logo_downscale_light.png");
  --guide-page-background: #1b1b1b;
  --gallery-nav-text: #C6DFF8;
  --gallery-nav-background: #1b1b1b99;
  --link-color: #8ba9c7;
  --base: black !important;
  --shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  --shadow-map: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  --menu-background: rgba(209, 209, 209, 0.9);
  --menu-shadow: inset 0rem 2rem 2rem rgba(0, 0, 0, 0.25) !important;
  --split-shadow: inset 1rem 0rem 1.5rem rgba(0, 0, 0, 0.20) !important;
  --overlay: rgba(0, 0, 0, 0.7);
  --ui-hover: #C6DFF8;
  --font: "Barlow Semi Condensed", sans-serif;
  --top-button-border: white;
  --viewer-button-background: #121212;
  --viewer-button-hover: #374f66cc;
  --viewer-button-text: white;
  --viewer-button-border: black;
  --popup-link-button: url(../../interface/linkbuttonboldwhite.png);
  --link-button: url(../../interface/linkbuttonbold.png);
  --info-button: url(../../interface/infobuttonbold.png);
  --menu-button: url(../../interface/menu.png);
  --close-button: url(../../interface/input-cancel-x.svg);
  --fullscreen-button: url(../assets/openseadragon/expand.svg);
  --zoom-in-button: url(../assets/openseadragon/plus.svg);
  --zoom-out-button: url(../assets/openseadragon/minus.svg);
  --previous-button: url(../assets/openseadragon/prev.png);
  --next-button: url(../assets/openseadragon/next.png);
  --download-button: url(public/interface/downloadwhite.png);
  --search-button: url(../../interface/searchbuttonwhite.png);
  --search-button-light-bkgrnd: url(../../interface/searchbutton.png);
  --search-button-dark-bkgrnd: url(../../interface/searchbuttonwhite.png);
  --selected-option: #5c5c5c;
  --autocomplete-background: var(--input-wrapper-background);
  --disclaimer-text: #C6DFF8;
  --default-gradient: linear-gradient(to right, var(--highlighted-text), var(--map-markers));
  --total-results: #C6DFF8;
  --clickable-metadata: #C6DFF8;
}

html[style-theme='light'] {
  --page-background: rgb(250,250,250);
  --page-background-accent: rgb(245,245,245);
  --footer-background: #dadada;
  --header-background: #d7d7d7;
  --header-text: black;
  --title-text: #7D7D7D;
  --button-background: #1e1e1e;
  --button-hover: #6e6e6e;
  --page-text: black;
  --button-text: white;
  --highlighted-text: #5e527f;
  --popup-background: #1f1f1f;
  --popup-text: white;
  --map-markers: #0c5270eb;
  --image-hover-background: linear-gradient(rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.8) 100%);
  --image-hover-text: black;
  --metadata-text: black;
  --notice-text: #82cae9;
  --emphasised-text: #244e60;
  --about-emphasised-text: black;
  --placeholder-text: #000000d5;
  --input-background: #1d192c;
  --input-wrapper-background: var(--page-background);
  --main-input-wrapper-background: linear-gradient(to bottom, rgba(200, 200, 200, 1.0) 0%, rgba(230, 230, 230, 1.0) 100%);
  --input-border: #000;
  --input-hover: #1a094c;
  --logo-background: #1e1e1e;
  --gu-logo-en: url("../src/assets/gu_logo.png");
  --gu-logo-sv: url("../src/assets/gu_logo_sv.png");
  --shfa-logo: url("../src/assets/shfa_logo_downscale.png");
  --guide-page-background: #ffffff;
  --gallery-nav-text: #5dadc8;
  --gallery-nav-background: #1b1b1b99;
  --link-color: #50169b;
  --base: black !important;
  --shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  --shadow-map: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  --menu-background: rgba(220, 220, 220, 0.9);
  --menu-shadow: inset 0rem 2rem 2rem rgba(0, 0, 0, 0.25) !important;
  --overlay: rgba(0, 0, 0, 0.7);
  --ui-hover: #01374c;
  --font: "Barlow Semi Condensed", sans-serif;
  --top-button-border: white;
  --viewer-button-background: #121212;
  --viewer-button-hover: #16739bcc;
  --viewer-button-text: white;
  --viewer-button-border: black;
  --popup-link-button: url(../../interface/linkbuttonwhite.png);
  --link-button: url(../../interface/linkbuttonbold.png);
  --info-button: url(../../interface/infobuttonbold.png);
  --menu-button: url(../../interface/menu.png);
  --close-button: url(../../interface/input-cancel-x.svg);
  --fullscreen-button: url(../assets/openseadragon/expand.svg);
  --zoom-in-button: url(../assets/openseadragon/plus.svg);
  --zoom-out-button: url(../assets/openseadragon/minus.svg);
  --previous-button: url(../assets/openseadragon/prev.png);
  --next-button: url(../assets/openseadragon/next.png);
  --download-button: url(public/interface/downloadwhite.png);
  --search-button: url(../../interface/searchbuttonwhite.png);
  --search-button-light-bkgrnd: url(../../interface/searchbutton.png);
  --search-button-dark-bkgrnd: url(../../interface/searchbuttonwhite.png);
  --selected-option: #16739bcc;
  --autocomplete-background: var(--input-wrapper-background);
  --disclaimer-text: #243f4a;
  --default-gradient: linear-gradient(to right, #03a3e2e6, #7344e1cc);
  --results-text: white;
  --total-results: #82cae9;
  --clickable-metadata: #1e333c;
  --overlaid-button-background: #1b1b1b;
  --underlay: white;
}

@media (prefers-contrast:more) or (prefers-reduced-transparency) {
  :root {
    --page-background: #ffffff;
    --page-background-accent: #ffffff;
    --footer-background: #ffffff;
    --header-background: #d7d7d7;
    --header-text: black;
    --title-text: #7D7D7D;
    --button-background: #1e1e1e;
    --button-hover: #48a9d2;
    --page-text: black;
    --button-text: white;
    --highlighted-text: #5e527f;
    --popup-background: #1f1f1f;
    --popup-text: white;
    --map-markers: #0c5270;
    --image-hover-background: linear-gradient(rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.8) 100%);
    --image-hover-text: black;
    --metadata-text: black;
    --notice-text: #82cae9;
    --emphasised-text: #244e60;
    --placeholder-text: #000000d5;
    --input-background: #1d192c;
    --input-wrapper-background: var(--page-background);
    --input-border: rgba(0,0,0,1);
    --input-hover: #1a094c;
    --logo-background: #1e1e1e;
    --gu-logo-en: url("../src/assets/gu_logo.png");
    --gu-logo-sv: url("../src/assets/gu_logo_sv.png");
    --shfa-logo: url("../src/assets/shfa_logo_downscale.png");
    --guide-page-background: #ffffff;
    --gallery-nav-text: #5dadc8;
    --gallery-nav-background: #1b1b1b99;
    --link-color: #50169b;
    --base: black !important;
    --shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    --shadow-map: 0 0 30px 0 rgba(0, 0, 0, 0.5);
    --menu-background: rgba(220, 220, 220, 0.9);
    --menu-shadow: inset 0rem 2rem 2rem rgba(0, 0, 0, 0.25) !important;
    --overlay: rgba(0, 0, 0, 0.7);
    --ui-hover: #01374c;
    --font: "Barlow Semi Condensed", sans-serif;
    --top-button-border: white;
    --viewer-button-background: #121212;
    --viewer-button-hover: #16739bcc;
    --viewer-button-text: white;
    --viewer-button-border: black;
    --popup-link-button: url(../../interface/linkbuttonwhite.png);
    --link-button: url(../../interface/linkbuttonbold.png);
    --info-button: url(../../interface/infobuttonbold.png);
    --menu-button: url(../../interface/menu.png);
    --close-button: url(../../interface/input-cancel-x.svg);
    --fullscreen-button: url(../assets/openseadragon/expand.svg);
    --zoom-in-button: url(../assets/openseadragon/plus.svg);
    --zoom-out-button: url(../assets/openseadragon/minus.svg);
    --previous-button: url(../assets/openseadragon/prev.png);
    --next-button: url(../assets/openseadragon/next.png);
    --download-button: url(public/interface/downloadwhite.png);
    --search-button: url(../../interface/searchbuttonwhite.png);
    --search-button-light-bkgrnd: url(../../interface/searchbutton.png);
    --search-button-dark-bkgrnd: url(../../interface/searchbuttonwhite.png);
    --selected-option: #062e3f;
    --autocomplete-background: #bebebe;
    --disclaimer-text: #243f4a;
    --default-gradient: linear-gradient(to right, #03a3e2e6, #7344e1cc);
    --results-text: white;
    --total-results: #82cae9;
    --clickable-metadata: #1e333c;
    --overlaid-button-background: #1b1b1b;
    --underlay: white;
  }
}